body {
  background-color:antiquewhite;
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.container{
  
  max-width:600px;
  background: linear-gradient(to right, #ff0000, #00ff00);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 80px;
}
  


h1 {
  font-size: 2rem;
  text-align: center;
  padding: 50px;
}

p {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  font-size: 3rem;
  margin: 0 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  opacity: 0.7;
}

#rock {
  background-color: #ff0000;
}

#paper {
  background-color: white;
}

#scissors {
  background-color: orange;
}

#user-score {
  color: #2196f3;
}

#computer-score {
  color: #ff0000;
}